<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>
      Приложение для демонстрационного экзамена (Соболев Артем ИСП-1.2 2018 БО)
    </title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
